# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_IPFS_API_URL=http://localhost:8080

# Midnight Network Configuration (for future use)
MIDNIGHT_NETWORK=preprod
MIDNIGHT_INDEXER_URL=
MIDNIGHT_PROOF_SERVER_URL=

# Optional: Analytics, monitoring, etc.
NEXT_PUBLIC_ANALYTICS_ID=

seed=6099f133fb9028d7f02247e2baa2adab5dc7a39588e3bafdd265289e84f80204
